.face-art {
    border: 2px solid black;
    height: 30vh;
    width: 80%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}



.eye-art {
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    flex: 1;
    min-width: 10vw;
    max-width: 5vw;
    height: 5vh;
}

#eye-zone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.mouth-art {
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    flex: 1;
    min-width: 15vw;
    max-width: 15vw;
    height: 10vh;
}

#mouth-zone {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
}


/*large screens*/
@media only screen and (min-width: 767px) {
    .face-art {
        height: 50vh;
    }

    .eye-art {
        min-width: 15vw;
        max-width: 10vw;
        height: 10vh;
    }

    .mouth-art{
        min-width: 25vw;
        max-width: 25vw;
        height: 15vh;
    }
}

/*larger screens*/
@media only screen and (min-width: 836px) {
    .face-art {
        height: 50vh;
    }

    .eye-art {
        min-width: 10vw;
        max-width: 10vw;
        height: 10vh;
    }

    .mouth-art{
        min-width: 20vw;
        max-width: 20vw;
        height: 15vh;
    }
}