

#app-title {    
    text-decoration: underline;
}

.section-title {
    color: grey;
}

.centerText, #app-title{
    text-align: center;
}

#color-picker-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#art-section {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}